@page "/access"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<section class="glass">
    <h1>Acceso</h1>

    <div>
        <label for="key">Clave de acceso: </label>
        <input type="password" id="key" @bind="key" class="form-control mb-3"/>
        <button @onclick="Access" class="btn btn-info">Acceder</button>

    </div>

    <p>@message</p>
</section>


@code {
    private string? key = null;
    private string? message = null;

    private async Task Access()
    {
        var response = await Http.PostAsJsonAsync("/api/authenticate", key);
        if (response.IsSuccessStatusCode) {

            var isAuthenticated = await response.Content.ReadAsStringAsync();
            if (Boolean.Parse(isAuthenticated)) {
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "key", "true");
                message = "Acceso concedido";

                NavigationManager.NavigateTo("/credencial");
                return;
            }
            message = "Clave incorrecta";
        }
    }
}